<article id="post-{{ post.id }}" class="l-single-page{{ templateClass }} {{ hidePageTitle ? 'has-title-hidden' : '' }}">

  {% if(post.meta('show_feature_image') and (post.thumbnail or acSettings.defaultImage)) %}
    <div class="l-single-page__feature-image{{ templateClass }} ">
      <div class="c-feature-image--single-page">
        {% if(post.thumbnail.src()) %}
          <img src="{{ post.thumbnail.src('feature1000') }}" class="c-feature-image--single-page__img" alt="{{ post.title }}"/>
        {% else %}
          <img src="{{acSettings.defaultImage}}" class="c-feature-image--single-page__img" alt="{{ post.title }}"/>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if not hidePageTitle %}
    <div class="l-single-page__header{{ templateClass }} {{ pageTitleCssClasses }}">
    {% include "inc/header.twig"
      with {
      headerTitle : null,
      headingLevel : '1' ,
      headerModClass : templateClass
    }%}
    </div>
  {% endif %}
    <div class="entry-content l-single-page__body{{ templateClass }} ">
      <div class="l-single-page__body-intro">
        {{ post.content }}
      </div>

      {%  if post.meta('content_column_1') or  post.meta('content_column_2') %}
      <div class="l-single-page__body-additional-content">
        <div class="l-page-columns__columns--flex is-2-col">
          <div class="l-page-columns__col--flex">
            {{ post.meta('content_column_1') }}
          </div>
          <div class="l-page-columns__col--flex">
            {{ post.meta('content_column_2') }}
          </div>
        </div>
      </div>
      {%  endif %}
    </div>


  {% if post.meta('post_footer_content') %}
    <footer class="l-single-page__footer{{ templateClass }} {{ post.meta('post_footer_class') }}">
      {{ post.meta('post_footer_content') }}
    </footer>
  {% endif %}

</article>
