{% set postFormatClass = postFormat ? '-'~postFormat : '--blog-list' %}
{% set postFormatRead = postFormat? fn('get_post_format', post) : '' %}
<!-- content.twig -->

  <article id="post-{{ post.id }}" class="c-post-thumb{{ postFormatClass }} {{ post.class }}">
  {% if post.thumbnail %}
    <a href="{{ post.link }}">
    <div class="c-post-thumb__feature-image{{ postFormatClass }}">
      <div class="c-feature-image--post-thumb">
        <img class="c-feature-image__img" src="{{ post.thumbnail.src('original') }}" class="feature-image__img" alt="{{ post.title }}"/>
      </div>
    </div>
    </a>
  {%  endif %}
<div class="c-post-thumb__header">

  <header class="entry-header c-header--post-thumb{{ postFormatClass }} ">
    <h2 class="entry-title c-header--heading--post-thumb{{ postFormatClass }}">
        <span class="c-header__title">
          <a class="c-header__title-link{{ postFormatClass }}" href="{{ post.link }}">{{ post.title }}</a>
        </span>
    </h2>
    <div class="entry-meta c-header__post-meta{{ postFormatClass }}">
      {% include 'inc/post-meta.twig' %}
    </div>
  </header>
</div>


    {% if  post.post_excerpt != '' %}
      <div class="entry-content c-post-thumb__body{{ postFormatClass }}">
        <div class="c-post-thumb__excerpt">
          <p>{{ post.post_excerpt }}</p>
        </div>
        <a href="{{ post.link }}" class="c-post-thumb__read-more">Read More</a>
      </div>

    {% else %}
      <div class="entry-content c-post-thumb__body">
        <div class="c-post-thumb__excerpt--truncated">
          <p>{{ post.content | striptags | truncate(50) }}</p>
        </div>
        <a href="{{ post.link }}" class="post{{ postFormatClass }}__read-more">Read More</a>
      </div>

    {% endif %}
    <footer class="c-post-thumb__footer">
      {% if (fn('comments_open', post) or post.comment_count > 0 ) %}
      <a class="c-post-thumb__comment-link" href="{{ post.link }}#comments">
        <span>{{ post.comment_count }} Comments </span>
      </a>
      {% endif %}


    </footer>

  </article>
