<article id="post-{{ post.id }}" class="l-single-page{{ templateClass }} {{ hidePageTitle ? 'has-title-hidden' : '' }}">

    <div class="entry-content l-single-page__body--section-page ">
      {% set sectionsArray = post.meta('sections') %}
        {% for item in post.meta('sections') %}
          {% set index =  loop.index  %}
          {% set next =  index   %}

          {% set hasTitle = ( not item.hide_section_title and item.section_title != '' ) ? true : false %}
          {% set hasTitle = ( not item.hide_section_title and item.section_title != '' ) ? true : false %}
          {% set hasTitleNext = ( not sectionsArray[next].hide_section_title and sectionsArray[next].section_title != '' ) ? true : false %}


            {% set colLayout =  item.section_column_layout %}
            {% set classTitle =  item.section_title_class %}
            {% set classHeaderType =  'header-is-'~item.section_header_type %}

            {% set classSection =  item.section_css_class %}
            {% set classBody =  item.section_body_class %}
            {% set classIntro =  item.section_intro_class %}
            {% set classFooter =  item.section_footer_class %}

            {% set backgroundImage =  item.section_background_image %}
          {% if backgroundImage %}
            {% set imgObj =  Image(backgroundImage) %}
            {% set imgSize =  'original' %}
            {% set imgAlt = (imgObj.alt) ? imgObj.alt :  post.title %}
            {% set classBackgroundImage = 'has-background-image' %}
            {% else %}
              {% set imgObj = '' %}
              {% set imgSize =  '' %}
              {% set imgAlt =  '' %}
              {% set classBackgroundImage = '' %}
          {% endif %}


          {% set classHideBorders = (item.hide_column_borders)? "has-no-borders"  : "" %}
          {% set classHideBottomBorder = (item.hide_bottom_border)? "has-no-bottom-border" : "" %}
          {% set classHasFooter = ( item.section_footer != '' )? "has-footer" : "has-no-footer" %}
          {% set classHasTitle = ( hasTitle == true )? "has-title" : "has-no-title" %}
          {% set classHasTitleNext = ( hasTitleNext  == true )? "has-title-next" : "has-no-title-next" %}
          {% set classBackgroundAdjustment = item.section_background_adjustment %}
          {% set classBackgroundPosition = item.section_background_position %}



            <div id="section-{{ loop.index }}" class="l-section {{ classBackgroundImage }} {{ classBackgroundAdjustment }} {{ classBackgroundPosition }} {{ classSection }} {{ classHasTitle }} {{classHasFooter}} {{ classHasTitleNext }} {{ classHideBorders }} {{ classHideBottomBorder }}">
              {% if  backgroundImage %}
              <div class="l-section__background-image">
                <div class="c-background-image">
                  <img srcset="{{ imgObj.src(imgSize)|resize(480)}} 480w, {{ imgObj.src(imgSize)|resize(1200)}} 1200w, {{ imgObj.src(imgSize)|resize(1920)}} 1920w, " class="c-background-image__img" alt="{{ imgAlt }}" />
                </div>
              </div>
              {% endif %}
              {% if hasTitle == true %}
                    <div class="l-section__header {{ classHeaderType }}">
                      <div class="l-section__header-wrapper">
                        <div class="l-section__header-container {{ classTitle }}">
                          <div class="l-section__header-content ">
                    {% include "inc/header.twig"
                        with {
                        templateTitle : item.section_title,
                        headingLevel : '3' ,
                        headerModClass : '--section-header'
                    } %}
                    </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
              <div class="l-section__body {{ classBody }}">

                {% if item.section_intro != '' %}
                <div class="l-section__intro {{ classIntro }}">
                    {{ item.section_intro }}
                </div>
                {% endif %}

                <div class="l-section__cols is-col-{{ colLayout }}">
                    <div class="l-section__col--1">
                      <div class="l-section__coll-content">
                        {{ item.section_column_1 }}
                      </div>
                    </div>

                    {% if colLayout != '100' %}
                        <div class="l-section__col--2">
                          <div class="l-section__coll-content">
                            {{ item.section_column_2 }}
                          </div>
                        </div>
                    {% endif %}

                    {% if colLayout == '33-33-33' %}
                        <div class="l-section__col--3">
                          <div class="l-section__coll-content">
                            {{ item.section_column_3 }}
                          </div>
                        </div>
                    {% endif %}
                </div>

              </div>

              {% if item.section_footer != '' %}
                <footer class="l-section__footer">
                  <div class="l-section__footer-wrapper">
                  <div class="l-section__footer-container {{ classFooter }}">
                    <div class="l-section__footer-content ">
                      {{ item.section_footer }}
                    </div>
                  </div>
                  </div>
                </footer>
              {% endif %}


            </div>
        {% endfor %}
    </div>


</article>
