{% block content %}
  <article id="post-{{ post.id }}" class="l-single-sevice{{ templateClass }} {{ post.class }}">

    {% if not hidePageTitle %}
      <div class="l-single-service__header{{ templateClass }} ">
        {% include "inc/header.twig"
          with {
          headerTitle : null,
          headingLevel : '1' ,
          headerModClass : templateClass
        }%}
      </div>
    {% endif %}
  {% if post.thumbnail %}
    <div class="l-single-sevice__feature-image{{ modClass }}">
      {% include "inc/feature-image.twig" with {
        'imgObj' : featureImage
      }
      %}
    </div>
  {%  endif %}



    <div class="entry-content l-single-sevice__body{{ templateClass }}">

        <div class="l-single-sevice__content{{ templateClass }}">
          {{ post.content }}
        </div>

    </div>

  </article>
{% endblock %}
