{% set postFormat = postFormat? fn('get_post_format', post) : '' %}


  <article id="post-{{ post.id }}" class="l-single-article {{ post.class }}">
    {% if(post.meta('show_feature_image') and (post.thumbnail or acSettings.defaultImage)) %}
      <div class="l-single-page__feature-image{{ templateClass }} ">
        <div class="c-feature-image--single-page">
          {% if(post.thumbnail.src()) %}
            <img src="{{ post.thumbnail.src('feature1000') }}" class="c-feature-image--single-page__img" alt="{{ post.title }}"/>
          {% else %}
            <img src="{{acSettings.defaultImage}}" class="c-feature-image--single-page__img" alt="{{ post.title }}"/>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <header class="entry-header single-article__header ">
      <h1 class="entry-title single-article__heading">
        <span class="l-single-article__title">
          {{ post.title }}
        </span>
      </h1>
      <div class="entry-meta single-article__post-meta">
        {% include 'inc/post-meta.twig' %}
      </div>
    </header>

      <div class="entry-content single-article__body">

        <div class="l-single-article__content">
          {{ post.content }}
        </div>
        <div class="l-single-article__page-links">
          {% if post.pagination %}
            <nav>Pages:
              {% for page in post.pagination.pages %}
                {% if page.current %}
                  <span class="current">{{ page.title }}</span>{{ loop.last ? '' : ', ' }}
                {% else %}
                  <a href="{{ page.link }}">{{ page.title }}</a>{{ loop.last ? '' : ', ' }}
                {% endif %}
              {% endfor %}
            </nav>
          {% endif %}
        </div>

      </div>


    <footer class="l-single-article__footer">


    </footer>

  </article>

