<article id="post-{{ post.id }}" class="post{{ postFormatClass }} {{ post.class }}">
  {% if post.thumbnail %}
    <div class="post__feature-image">
      <div class="feature-image">
        <img src="{{ post.thumbnail.src('feature16-4') }}" class="feature-image__img" alt="{{ post.title }}"/>
      </div>
    </div>
  {%  endif %}

  <header class="entry-header post__header{{ postFormatClass }} ">
    <h2 class="entry-title post__heading{{ postFormatClass }}">
      <a class="entry-header post__heading-link{{ postFormatClass }}"  href="{{ post.link }}">{{ post.title }}</a>
    </h2>
    <div class="entry-meta post__post-meta{{ postFormatClass }}">
      {% include 'inc/post-meta.twig' %}
    </div>
  </header>

  {% if  post.post_excerpt != '' %}
    <div class="entry-content post__body{{ postFormatClass }}">
      {{ post.post_excerpt }}
      <a href="{{ post.link }}" class="post__read-more{{ postFormatClass }}">Read More</a>
    </div>

  {% else %}
    <div class="entry-content post__body{{ postFormatClass }}">
      <p>{{ post.content | striptags | truncate(40) }}</p>
      <a href="{{ post.link }}" class="post__read-more">Read More</a>
    </div>

  {% endif %}
  <footer class="post__footer{{ postFormatClass }}">
    <a class="post__comment-link{{ postFormatClass }}" href="{{ post.link }}#comments">
      <span>{{ post.comment_count }} Comments </span>
    </a>
  </footer>

</article>
