{% set postFormat = postFormat? fn('get_post_format', post) : '' %}

{% block content %}
  <article id="post-{{ post.id }}" class="single-article {{ post.class }}">
  {% if post.thumbnail %}
    <div class="single-article__feature-image">
      <div class="feature-image">
        <img src="{{ post.thumbnail.src('feature500') }}" class="feature-image__img" alt="{{ post.title }}"/>
      </div>
    </div>
  {%  endif %}

    <header class="entry-header single-article__header ">
      <h1 class="entry-title single-article__heading">
        <span class="single-article__title">
          {{ post.title }}
        </span>
      </h1>
      <div class="entry-meta single-article__post-meta">
        <div class="post-meta">
          {#<svg class="icon post-meta__icon" role="img" aria-label="Post type {{ postFormat }}" preserveAspectRatio="none" >#}
            {#<title>{{ postFormat }}</title>#}
            {#<desc>Post type {{ postFormat }}</desc>#}
            {#<use xlink:href="#icon-post{{ postFormat }}" />#}
          {#</svg>#}
          <span class="post-meta__date">{{ post.date }}</span>
        </div>
      </div>
    </header>

      <div class="entry-content single-article__body">

        <div class="single-article__content">
          {{ post.content }}
        </div>

      </div>


    <footer class="single-article__footer">


    </footer>

  </article>
{% endblock %}