<article id="post-{{ post.id }}" class="l-single-page{{ templateClass }} {{ hidePageTitle ? 'has-title-hidden' : '' }}">

  {% if not hidePageTitle %}
    <div class="l-single-page__header">
    {% include "inc/header.twig"
      with {
      headerTitle : null,
      headingLevel : '1' ,
      headerModClass : templateClass
    }%}
    </div>
  {% endif %}
{% if post.meta('page_intro_image') or (post.meta('page_intro_title') or post.meta('page_intro_text') or post.meta('button_1_url') or post.meta('button_2_url') ) %}
    <div class="l-single-page__page-intro{{ templateClass }}">

                <div class="c-media-box--intro-header">
                    <div class="c-media-box__image">
                        {% include "inc/feature-image.twig"
                            with {imgObj : Image(post.meta('page_intro_image'))}
                        %}
                    </div>
                    <div class="c-media-box__content">
                        <h1 class="c-media-box__heading">
                            <span class="c-media-box__heading-name">{{ post.meta('page_intro_title') }}</span>
                        </h1>
                        <div class="c-media-box__body">
                            {{ post.meta('page_intro_text') | wpautop }}
                        </div>
                        <div class="c-media-box__btn">
                            <div class="c-btn--cta">
                                <div class="c-btn__link">
                                    <a href="{{ post.meta('button_1_url') }}">{{ post.meta('button_1_label') }}</a>
                                </div>
                            </div>
                            <div class="c-btn--cta--text">
                                <div class="c-btn__link">
                                    <a href="{{ post.meta('button_2_url') }}">{{ post.meta('button_2_label') }}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

    </div>
    {% endif %}

    <div class="entry-content l-single-page__body{{ templateClass }} ">
      {{ post.content }}
    </div>

    <footer class="l-single-page__footer{{ templateClass }} ">
    </footer>

</article>
