{% set postFormat = postFormat? fn('get_post_format', post) : '' %}
{% set classPostSidebar = (post.meta('post_content_aside'))? 'has-sidebar': 'has-no-sidebar' %}
<article id="post-{{ post.id }}" class="l-single-article{{ templateClass }} {{ hidePageTitle ? 'has-title-hidden' : '' }} {{ classPostSidebar }}">

  {% if not hidePageTitle %}
    <div class="l-single-article__header">
      <div class="l-single-article__post-meta--single-above-header">
        {% include "inc/post-meta-post-date.twig" %}
      </div>
      {% include "inc/header.twig"
        with {
        headingLevel : '1' ,
        headerModClass : templateClass,
        templateSubtitleAfter : post.meta('post_subtitle')
      }%}
      <div class="l-single-article__post-meta--single-below-header">
        {% include "inc/post-meta-post-author.twig" %}
      </div>
    </div>

  {% endif %}

  {% if(post.thumbnail or acSettings.defaultImage) %}
    <div class="l-single-article__feature-image{{ templateClass }} ">
      {% include 'inc/feature-image.twig' %}
    </div>
  {% endif %}

  <div class="entry-content l-single-article__body{{ templateClass }} ">
    {{ post.content }}
  </div>

  {% if post.meta('post_content_aside') %}
    <div class="l-single-article__aside{{ templateClass }} ">
      <aside class="c-aside{{ templateClass }}">
        {{ post.meta('post_content_aside') }}
      </aside>
    </div>
  {% endif %}

  {% if post.meta('post_content_subsidiary') %}
    <div class="l-single-article__subsidiary{{ templateClass }} ">
      <aside class="c-subsidiary{{ templateClass }}">
        {{ post.meta('post_content_subsidiary') }}
      </aside>
    </div>
  {% endif %}

  <footer class="l-single-article__footer{{ templateClass }} ">
  </footer>

</article>
