<article id="post-{{ post.id }}" class="l-single-page{{ templateClass }} {{ hidePageTitle ? 'has-title-hidden' : '' }}">

  {% if(post.thumbnail or acSettings.defaultImage) %}
    <div class="l-single-page__feature-image{{ templateClass }} ">
      <div class="c-feature-image--service">
        {% if(post.thumbnail.src()) %}
          <img src="{{ post.thumbnail.src('feature1000') }}" class="c-feature-image__img--service" alt="{{ post.title }}"/>
        {% else %}
          <img src="{{acSettings.defaultImage}}" class="c-feature-image__img--single-page" alt="{{ post.title }}"/>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if not hidePageTitle %}
    <div class="l-single-page__header--service">
      <header class="entry-header c-header{{ templateClass }} {{ postIconClass }} {{ hidePageTitle ? 'is-hidden' : '' }}">
        <h1 class="entry-title c-header__heading{{ templateClass }} ">
          <span class="entry-title c-header__title{{ templateClass }} ">{{ post.title }}</span>
        </h1>
 {% if postIcon %}
        <div class="c-header__icon--service">
          <img class="style-svg c-header__img--service" src="{{ postIcon.url }}" alt="{{ post.title }}" />
        </div>
        {% endif %}
      </header>
    </div>
  {% endif %}
  <div class="entry-content l-single-page__body{{ templateClass }} ">
    {{ post.content }}
  </div>

  <footer class="l-single-page__footer{{ templateClass }} ">
  </footer>

</article>
