{% extends "base.twig" %}

  {% block hero %}
    <section class="site__hero">
      <div class="hero--archive" style="background-image: url('{{  taxImage.url }}');">
        <img src="{{ taxImage.url }}" alt="{{ taxImage.alt }}" class="hero--archive__image">
      </div>
    </section>
  {% endblock %}

{% block feature %}
{% endblock %}

{% block beforeContent %}
  <div class="before-content--archive">
<header class="before-content--archive__header">
    <div  class="before-content--archive__title" >
      <h1  class="before-content--archive__h1" >{{ title }}</h1>
    </div>
</header>
    <div class="before-content--archive__body">
      {{ taxContent }}
    </div>
  </div>
{% endblock %}

{% block contentHeader  %}
  <div class="content__title">
    <h3 class="content__header">Our Services</h3>
  </div>
{% endblock %}

{% block content %}
  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include 'content-' ~ taxSlug ~ '.twig' %}
  {% endfor %}
{% endblock %}

{% block afterContent %}
<section class="after-content--archive">
  <div class="after-content--archive__content">
  {{ taxFooter }}
  </div>
  </section>
{% endblock %}

{% block subsidiary %}
{% endblock %}



