<!doctype html>
<html {{ site.language_attributes }} data-env-{{environment}}={{environment}}>
<head>
  <!-- base.twig -->
  {% block headPrepend %}
    <!-- headPrepend block -->
  {% endblock %}

  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="{{ site.pingback_url }}">

  <!-- iubenda Cookie solution -->
  <style type="text/css"> #iubenda-cs-banner { bottom: 0px !important; left: 0px !important; position: fixed !important; width: 100% !important; z-index: 99999998 !important; background-color: black; } .iubenda-cs-content { display: block; margin: 0 auto; padding: 20px; width: auto; font-family: Helvetica,Arial,FreeSans,sans-serif; font-size: 14px; background: #000; color: #fff;} .iubenda-cs-rationale { max-width: 900px; position: relative; margin: 0 auto; } .iubenda-banner-content > p { font-family: Helvetica,Arial,FreeSans,sans-serif; line-height: 1.5; } .iubenda-cs-close-btn { margin:0; color: #fff; text-decoration: none; font-size: 14px; position: absolute; top: 0; right: 0; border: none; } .iubenda-cs-cookie-policy-lnk { text-decoration: underline; color: #fff; font-size: 14px; font-weight: 900; } </style> <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"banner":{"textColor":"#dadada","backgroundColor":"#5A5A5A","slideDown":false,"applyStyles":false},"lang":"en","siteId":1318008,"cookiePolicyId":74263050}; </script><script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>


  {% include 'inc/favicon.twig' %}

  <style>
    {% include 'critical.css' ignore missing %}
  </style>

  {% include 'inc/dynamic-styles.twig' %}

  {{ fn('wp_head') }}

  {% block headAppend %}
    <!-- headAppend block -->
  {% endblock %}

</head>

<body id="siteBody" class="{{ body_class }} no-js"  data-mobile="off" data-window-top="true" {{ fn('_act_body_data') }}>

{% block defs %}
  <div class="defs" style="display: none">
    {% include 'inc/defs.svg' ignore missing %}
  </div>
{% endblock %}

{% block pageHtmlOpen %}
<div id="page" class="site remodal-bg">
  {% endblock %}

  {% block accessibility %}
    {% include 'site-accessibility.twig' %}
  {% endblock %}

  {% block header %}
    <header id="masthead" class="site__masthead {{ hidePageMasthead ? 'is-hidden' : 'is-not-hidden' }}" role="banner">
      {% include 'inc/masthead.twig' %}
    </header>
  {% endblock %}

  {% block mobile_nav %}
    {% if mobilenav_widgets == '' %}
      <!-- Add some widgets to the mobilenav -->
    {% else %}
      <button id="menuButton" class="btn--menu" data-control data-state="off">
        <div class="btn--menu__bar--tl"></div>
        <div class="btn--menu__bar--tr"></div>
        <div class="btn--menu__bar--m"></div>
        <div class="btn--menu__bar--br"></div>
        <div class="btn--menu__bar--bl"></div>
      </button>

      <div id="mobileNavigation" class="site__mobile-nav-widgets site__navigation--off-page" data-state="off">
        <div class="mobile-nav-widgets" >
          {{mobilenav_widgets}}
        </div>
      </div>

    {% endif %}
  {% endblock %}

  {% block hero %}
    <section id="siteHero" class="site__hero">
      {% include 'inc/hero.twig' ignore missing %}
    </section>
  {% endblock %}

  {% block mainBefore %}
  {% endblock %}

  {% set baseBlocks =      {
  beforeContent : block('beforeContent'),
  contentHeader : block('contentHeader'),
  content : block('content'),
  contentFooter : block('contentFooter'),
  afterContent : block('afterContent'),
  sidebar : block('sidebar')
  }

  %}

  {% include ['inc/base-primary-'~primary_mod~'.twig', 'inc/base-primary.twig'] with baseBlocks %}

  {% block mainAfter %}
  {% endblock %}

  {% block subsidiary %}
    <section id="subsidiary" class="site__subsidiary">
      {% include 'inc/subsidiary.twig' %}
    </section>
  {% endblock %}

  {% block pageHtmlClose %}
</div>{# /#page #}
{% endblock %}

{% block footer %}
  <footer class="site__footer" role="contentinfo">
    {% include 'inc/footer.twig' %}
  </footer>
{% endblock %}

{% block footerScripts %}
  {% include 'inc/footer_scripts.twig' %}
{% endblock %}

</body>

</html>