<!doctype html>
<html {{ site.language_attributes }}>
<head>

  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="{{ site.pingback_url }}">

  {{ fn('wp_head') }}

</head>

<body class="{{ body_class }}">
{% include 'inc/defs.svg' ignore missing %}
<div id="page" class="site">

  {% include 'site-accessibility.twig' %}

  <header id="masthead" class="site__masthead" role="banner">

    {% include 'inc/masthead.twig' %}

  </header>

  <section id="primary" class="site__main">
    <div class="main">
      <main class="main__content">
        {% block before_content %}
        {% endblock %}
        <div class="content">
          {% block content %}
            <p>Hello world! This AC Timber. I am the content Block in base.twig. Extend me!</p>
          {% endblock %}
        </div>
        {% block belowContent %}
          {% if (fn('comments_open')) %}
            <section id="comments" class="comments">
              <h3 class="comments__title">Comments</h3>
              <div class="comments__response">
                {% for cmt in post.get_comments() %}
                  {% include "inc/comment.twig" with {comment:cmt} %}
                {% endfor %}
              </div>
              <h3 class="comments__title">Leave a Reply</h3>
              <div class="comments__respond">
                {{ comment_form }}
              </div>
            </section>
          {% endif %}
        {% endblock %}
      </main>
      <!-- Sidebar should go here when needed -->
    </div>
  </section>

</div>{# /#page #}
<link rel="stylesheet" href="{{ site.theme.link }}/style.css">

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>

<script src="{{site.theme.link}}/dist/js/main.js?v=20160315"></script>

<script>

  var showButton, container;

  showButton = document.getElementById('menuButton');
  container = document.getElementById('primaryNavigation');

  console.log(showButton);
  showButton.onclick = function () {
    console.log(showButton.dataset.state);
    if ('off' === showButton.dataset.state) {
      showButton.dataset.state = 'on';
      container.dataset.state = 'on';
    } else {
      showButton.dataset.state = 'off';
      container.dataset.state = 'off';
    }
    console.log(showButton.dataset.state);
  }

</script>
</body>

</html>