<!doctype html>
<html {{ site.language_attributes }}>
<head>

  {% block criticalcss %}
  <style>
  {% include 'critical--page.css' %}
  </style>
  {% endblock %}

  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="{{ site.pingback_url }}">

  {{ fn('wp_head') }}


</head>

<body class="{{ body_class }}" {{ fn('_act_body_data') }}>

{% include 'defs.svg' %}

<div id="page" class="site">

  {% include 'site-accessibility.twig' %}

  {% block masthead %}
    <header id="act_masthead" data-hidden="{{ (not fn('is_paged') and fn('is_home')) ? 'true' : 'false' }}" class="site__masthead" role="banner">
      {% include 'masthead.twig' %}
    </header>
  {% endblock %}

  {% block hero %}
    <section class="site__hero">
      {% include 'hero.twig' %}
    </section>
  {% endblock %}

  <section id="primary" class="site__main">
    <div class="main">
      <main class="main__content {{ fn('is_paged') ? 'is-paged' : '' }}">
        {% block content %}
          <p>Hello world! This AC Timber. I am the content Block in base.twig. Extend me!</p>
        {% endblock %}
      </main>
      <!-- Sidebar should go here when needed -->
    </div>
  </section>

  {% block feature %}
    <section id="feature" class="site__feature">
      {% include 'feature.twig' %}
    </section>
  {% endblock %}

  {% block subsidiary %}
    <section id="subsidiary" class="site__subsidiary">
      {% include 'subsidiary.twig' %}
    </section>
  {% endblock %}

</div>{# /#page #}

{% block footer %}
<footer class="site__footer" role="contentinfo">
  {% include 'footer.twig' %}
</footer>
{% endblock %}

{% include 'footer_scripts.twig' %}

{{ fn('wp_footer') }}

</body>
</html>