<!doctype html>
<html {{ site.language_attributes }}>
<head>

  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="{{ site.pingback_url }}">

  {{ fn('wp_head') }}

</head>

<body class="{{ body_class }}">
{% include 'defs.svg' %}
<div id="page" class="site">

  {% include 'site-accessibility.twig' %}

  <header id="masthead" class="site__masthead" role="banner">
    {% include 'masthead.twig' %}
  </header>

  {%  block hero %}
    {% include 'hero.twig' %}
  {% endblock %}

  <section id="primary" class="site__main">
    <div class="main">
      <main class="main__content">
        {% block content %}
          <p>Hello world! This AC Timber. I am the content Block in base.twig. Extend me!</p>
        {% endblock %}
      </main>
      <!-- Sidebar should go here when needed -->
    </div>
  </section>

</div>{# /#page #}
<footer class="site__footer" role="contentinfo">
  <div class="footer">

  </div>
</footer>
{% include 'footer_scripts.twig' %}
{{ fn('wp_footer') }}

</body>
</html>