<!doctype html>
<html {{ site.language_attributes }} data-env-{{environment}}={{environment}}>
<head>
  <!-- base.twig -->
  {% block prependHead %}
    <!-- prependhead block -->
  {% endblock %}

  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="{{ site.pingback_url }}">

  {% include 'inc/favicon.twig' %}

  <style>
    {% include 'critical.css' ignore missing %}
  </style>

  {{ fn('wp_head') }}

  {% block appendHead %}
    <!-- prependhead block -->
  {% endblock %}

</head>

<body id="siteBody" class="{{ body_class }} no-js"  data-mobile="off" data-window-top="true" {{ fn('_act_body_data') }}>

{% block defs %}
<div class="defs" style="display: none">
  {% include 'inc/defs.svg' ignore missing %}
</div>
{% endblock %}

{% block pageHtmlOpen %}
<div id="page" class="site">
{% endblock %}

  {% block accessibility %}
  {% include 'site-accessibility.twig' %}
  {% endblock %}

  {% block header %}
    <header id="masthead" class="site__masthead {{ hidePageMasthead ? 'is-hidden' : 'is-not-hidden' }}" role="banner">
      {% include 'inc/masthead.twig' %}
    </header>
  {% endblock %}

  {% block mobile_nav %}
    {% if mobilenav_widgets == '' %}
      <!-- Add some widgets to the mobilenav -->
    {% else %}
    <button id="menuButton" class="btn--menu" data-state="off">
      <div class="btn--menu__bar--tl"></div>
      <div class="btn--menu__bar--tr"></div>
      <div class="btn--menu__bar--m"></div>
      <div class="btn--menu__bar--br"></div>
      <div class="btn--menu__bar--bl"></div>
    </button>

      <div id="mobileNavigation" class="site__mobile-nav-widgets site__navigation--off-page" data-state="off">
        <div class="mobile-nav-widgets" >
          {{mobilenav_widgets}}
        </div>
      </div>

    {% endif %}
  {% endblock %}

  {% block hero %}
    <section id="siteHero" class="site__hero">
      {% include 'inc/hero.twig' ignore missing %}
    </section>
  {% endblock %}

  {% block beforeMain %}
  {% endblock %}

  {% set baseBlocks =      {
  beforeContent : block('beforeContent'),
  contentHeader : block('contentHeader'),
  content : block('content'),
  contentFooter : block('contentFooter'),
  afterContent : block('afterContent'),
  sidebar : block('sidebar')
  }

  %}

  {% include ['inc/base-primary-'~primary_mod~'.twig', 'inc/base-primary.twig'] with baseBlocks %}

  {% block afterMain %}
  {% endblock %}

  {% block subsidiary %}
    <section id="subsidiary" class="site__subsidiary">
      {% include 'inc/subsidiary.twig' %}
    </section>
  {% endblock %}

{% block pageHtmlClose %}
</div>{# /#page #}
{% endblock %}

{% block footer %}
  <footer class="site__footer" role="contentinfo">
    {% include 'inc/footer.twig' %}
  </footer>
{% endblock %}

{% block footerScripts %}
{% include 'inc/footer_scripts.twig' %}
{% endblock %}

</body>

</html>