{% set postFormatClass = postFormat ? '-'~postFormat : '' %}
{% set postFormatRead = postFormat? fn('get_post_format', post) : '' %}


  <article id="post-{{ post.id }}" class="service{{ postFormatClass }} {{ post.class }}">
  {% if post.thumbnail %}
    <div class="service{{ postFormatClass }}__feature-image">
      <div class="feature-image">
        <a href="{{ post.link }}" class="feature-image__link">
          <img src="{{ post.thumbnail.src('thumb500x250') }}" class="feature-image__img" alt="{{ post.title }}"/>
        </a>
      </div>
    </div>
  {%  endif %}

<div class="service{{ postFormatClass }}__content">
    <header class="entry-header service{{ postFormatClass }}__header ">
      <h2 class="entry-title service{{ postFormatClass }}__title">
        <a href="{{ post.link }}">{{ post.title }}</a>
      </h2>
    </header>



    {% if  post.post_excerpt != '' %}
      <div class="entry-content service{{ postFormatClass }}__body">
        {{ post.post_excerpt }}
      {% if post.get_field('service_show_more_link')%}
        <div class="service{{ postFormatClass }}__read-more">
        <a href="{{ post.link }}" class="service{{ postFormatClass }}__read-more-link">More Info</a>
        </div>
      {% endif %}
      </div>

    {% else %}
      <div class="entry-content service{{ postFormatClass }}__body">
        <p>{{ post.content | striptags | truncate(20) }}</p>
        <a href="{{ post.link }}" class="service{{ postFormatClass }}__read-more">Find Out More</a>

      </div>
    {% endif %}

    <footer class="service{{ postFormatClass }}__footer">

    </footer>
</div>
  </article>
