{% block content %}
  <article id="post-{{ post.id }}" class="single-article{{ postFormatClass }} {{ post.class }}">

  {% if post.thumbnail %}
    <div class="single-article__feature-image{{ postFormatClass }}">
      <div class="feature-image">
        <img src="{{ post.thumbnail.src('feature16-4') }}" class="feature-image__img" alt="{{ post.title }}"/>
      </div>
    </div>
  {%  endif %}

    <header class="entry-header single-article__header{{ postFormatClass }} ">

      <h2 class="entry-title single-article__heading{{ postFormatClass }}">
        <span class="single-article__title{{ postFormatClass }}">{{ post.title }}</span>
      </h2>

      <div class="entry-meta single-article__post-meta{{ postFormatClass }}">
          {% include 'inc/post-meta.twig' %}
      </div>

    </header>

      <div class="entry-content single-article__body{{ postFormatClass }}">

        <div class="single-article__content{{ postFormatClass }}">
          {{ post.content }}
        </div>

      </div>

    <footer class="single-article__footer{{ postFormatClass }}">

    </footer>

  </article>
{% endblock %}