{% set postFormatClass = postFormat ? '-'~postFormat : '' %}
{% set postFormatRead = postFormat? fn('get_post_format', post) : '' %}

{% block content %}
  <article id="post-{{ post-id }}" class="post{{ postFormatClass }} {{ post.class }}">
  {% if post.thumbnail %}
    {#<div class="post{{ postFormatClass }}__feature-image">#}
      {#<div class="feature-image">#}
        {#<img src="{{ post.thumbnail.src('feature500') }}" class="feature-image__img" alt="{{ post.title }}"/>#}
      {#</div>#}
    {#</div>#}
  {%  endif %}

    <header class="entry-header post{{ postFormatClass }}__header ">
      <h2 class="entry-title post{{ postFormatClass }}__title">
        <a href="{{ post.link }}">{{ post.title }}</a>
      </h2>
      <div class="entry-meta post{{ postFormatClass }}__post-meta">
        <div class="post-meta">

          {#<svg class="icon post-meta__icon" role="img" aria-label="Post type {{ postFormatRead }}" preserveAspectRatio="none" >#}
            {#<title>{{ postFormatRead }}</title>#}
            {#<desc>Post type {{ postFormatRead }}</desc>#}
            {#<use xlink:href="#icon-post{{ postFormat }}" />#}
          {#</svg>#}

          <span class="post-meta__date">{{ post.date }}</span>
        </div>
      </div>
    </header>

      <div class="entry-content post{{ postFormatClass }}__body">
        {% if post.get_field('video_id') %}
          {% set video_url = 'https://www.youtube.com/watch?v='~post.get_field('video_id') %}
        <div class="post{{ postFormatClass }}__embed">
          {{  fn('wp_oembed_get', video_url ) }}
        </div>
          {% endif %}
        <div class="post{{ postFormatClass }}__content">{{ post.content }}</div>

      </div>


    <footer class="post{{ postFormatClass }}__footer">
      <a class="post{{ postFormatClass }}__comment-link" href="{{ post.link }}#comments">
        <span>{{ post.comment_count }} Comments </span>
      </a>

    </footer>

  </article>
{% endblock %}