{%  set hideTitle = fn('get_field','hide_title')   %}
<article id="post-{{ post.id }}" class="single-service">


{% if hideTitle != true %}
    <header class="entry-header single-service__header ">
      <span class="single-service__category">{{  serviceCategory }}</span>
      <div class="entry-title single-service__title ">
        <h1 class="entry-title single-service__h1 " >{{ post.title }}</h1>
      </div>
      <div class="entry-meta single-service__post-meta ">
        {% include 'inc/post-meta--page.twig' %}
      </div>
    </header>
  {% endif %}



    <div class="entry-content single-service__body  {{ contentImage ? '' : 'has-no-content-image' }} ">
      <div class="entry-content single-service__content  ">
        {{ post.content }}
      </div>
      {% if contentImage %}
      <div class="entry-content single-service__content-image ">
        <img src="{{ contentImage.sizes.large }}" alt="{{ contentImage.alt }}" class="single-service__img">
      </div>
      {% endif %}
    </div>




    <footer class="single-service__footer ">
    </footer>


</article>