<article id="post-{{ post.id }}" class="post{{ postFormatClass }} {{ post.class }}">
  {% if post.get_field('video_id') %}
    <div class="post__feature-image{{ postFormatClass }}">
      <div class="feature-image">
        <a href="{{ post.link }}">
          <img src="http://img.youtube.com/vi/{{ post.get_field('video_id') }}/maxresdefault.jpg" class="feature-image__img" alt="{{ post.title }}"/>
          <svg class="feature-image__play-button" viewBox="0 0 200 200" alt="Play video">
            <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"></circle>
            <polygon points="70, 55 70, 145 145, 100" fill="#fff"></polygon>
          </svg>
        </a>
      </div>
    </div>
  {%  endif %}

  <header class="entry-header post__header{{ postFormatClass }} ">
    <h2 class="entry-title post__heading{{ postFormatClass }}">
      <a class="entry-header post__heading-link{{ postFormatClass }}"  href="{{ post.link }}">{{ post.title }}</a>
    </h2>
    <div class="entry-meta post__post-meta{{ postFormatClass }}">
      {% include 'inc/post-meta.twig' %}
    </div>
  </header>

  {% if  post.post_excerpt != '' %}
    <div class="entry-content post__body{{ postFormatClass }}">
      {{ post.post_excerpt }}
      <a href="{{ post.link }}" class="post__read-more{{ postFormatClass }}">Read More</a>
    </div>

  {% else %}
    <div class="entry-content post__body{{ postFormatClass }}">
      <p>{{ post.content | striptags | truncate(20) }}</p>
      {#<a href="{{ post.link }}" class="post{{ postFormatClass }}__read-more">Read More</a>#}
    </div>

  {% endif %}
  <footer class="post__footer{{ postFormatClass }}">
    <a class="post__comment-link{{ postFormatClass }}" href="{{ post.link }}#comments">
      <span>{{ post.comment_count }} Comments </span>
    </a>

  </footer>

</article>
