<article id="post-{{ post.id }}" class="single-tile-range">
  <header class="entry-header single-tile-range__header ">
    <h1 class="entry-title single-tile-range__heading ">
      <span class="single-tile-range__title ">{{ post.title }}</span>
    </h1>
  </header>


  <div class="single-tile-range__wrapper">
  <div class="single-tile-range__description">
    {{ post.get_field('tile_description') }}
  </div>

  {% for group in  tile_groups %}
    <div class="single-tile-range__tile-group">
      <div class="tile-group">
        <div class="tile-group__header">
          <h5 class="tile-group__title">
            <span class="tile-group__title">{{group.tile_group_title}}</span>
          </h5>
        </div>
        <div class="tile-group__content">
          {% for tile in group.tiles %}
          <div class="tile-group__tile">
            <div class="c-tile">
              <div class="c-tile__image">
                <img class="c-tile__img" src="{{ tile.image_tile.sizes.large}}" alt="{{ tile.post_title }}" />
              </div>
              <h6 class="c-tile__heading" >
                <span class="c-tile__title">{{ tile.post_title }}</span>
              </h6>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}

  </div>


  <footer class="single-tile-range__footer ">

  </footer>


</article>