<article id="post-{{ post.id }}" class="single-tile">

  {% if(post.get_field('image_room_set')) %}
    <div class="single-tile__feature-image ">
      <div class="feature-image--single-tile">
        <img class="feature-image--single-tile__img" src="{{ post.get_field('image_room_set').sizes.feature500x600 }}" alt="{{ post.title }}">

      </div>
    </div>
  {% endif %}

  <div class="single-tile__wrapper">

    <header class="entry-header single-tile__header ">
      <h1 class="entry-title single-tile__title ">
        <span>{{ post.title }}</span>
      </h1>
      {#<div class="entry-meta single-page__post-meta ">#}
      {#{% include 'post-meta--page.twig' %}#}
      {#</div>#}
    </header>

    {% if(post.get_field('add_a_gallery')) %}
      <div class="single-page__gallery">
        {% include 'inc/gallery.twig' %}
      </div>
    {% endif %}

    <div class="entry-content single-tile__tile-meta ">
      <ul class="tile-meta">
        <li class="tile-meta__item"><label class="tile-meta__label">Tile Type</label> : {{ post.get_field('tile_type') | replace('-', ' ') | title}}</li>
        <li class="tile-meta__item"><label class="tile-meta__label">Tile Size</label> : {{ post.get_field('tile_size') | replace('-', ' ') | title}} </li>
        <li class="tile-meta__item"><label class="tile-meta__label">Tile Colour</label> : {{ tile_colour | join(', ') }} </li>
        <li class="tile-meta__item"><label class="tile-meta__label">Tile Material</label> : {{ tile_material | join(', ') }} </li>
      </ul>
    </div>

  </div>


  <footer class="single-tile__tile-info ">
    <div class="tile-info">
      {% if(post.get_field('tile_information')) %}
        <h5 class="tile-info__title">Tile Info</h5>
        <div class="tile-info__info">
          {{ post.get_field('tile_information') }}
        </div>
      {% endif %}
    </div>
    <div class="call-to-action">
      {#{{ post.get_field('call-to-action') }}#}
      {% set cta = post.get_field('call-to-action') %}
      {  fn('do_shortcode', cta) %}
    </div>
  </footer>


</article>