  <div class="masthead">
    <div class="masthead__branding">
      <div class="masthead__site-title">
      {% if fn('is_front_page') %}
        <h1 class="site-title">
          <svg class="icon site-title__icon" role="img" aria-label="{{ site.title }} {{ site.description }}" preserveAspectRatio="none" >
            <title>{{ site.title }}</title>
            <desc>{{ site.description }}</desc>
            <use xlink:href="#icon-stretton-climate-care-logo-type" />
          </svg>
          <a href="{{ site.url }} " rel="home">{{ site.name }}</a>
        </h1>
      {% else %}
        <span class="site-title">
               <a href="{{ site.url }} " rel="home">{{ site.name }}</a>
            </span>
      {% endif %}
      </div>
    </div>

    <nav class="masthead__navigation" role="navigation">
      <div class="naigavigation--primary">
        <ul class="naigavigation--primary__list">
          {% for item in menuPrimary.get_items %}
            <li class="naigavigation--primary__item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
              {% if item.get_children %}
                <ul class="naigavigation--primary__sub-list">
                  {% for child in item.get_children %}
                    <li class="naigavigation--primary__sub--item"><a href="{{child.get_link}}">{{child.title}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
