<div class="naigavigation--primary">
  <ul class="naigavigation--primary__list">
    {% for item in menuPrimary.get_items %}
      <li class="naigavigation--primary__item {{ item.classes | join(' ') }}">
        <a class="nav-main-link" href="{{ item.get_link }}">{{ item.title }}</a>
        {% if item.get_children %}
          <ul class="naigavigation--primary__sub-list">
            {% for child in item.get_children %}
              <li class="naigavigation--primary__sub--item"><a href="{{ child.get_link }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>