<div class="post-meta">

  <div class="post-meta__post-type">
    <div class="post-type">
      <svg class="icon post-type__icon" role="img" aria-label="Post type {{ postFormatRead }}" preserveAspectRatio="none">
        <title>{{ postFormatRead }}</title>
        <desc>Post type {{ postFormatRead }}</desc>
        <use xlink:href="#icon-post{{ postFormat }}"/>
      </svg>
    </div>
  </div>

  <div class="post-meta__published">
    <div class="published">
      {{ fn('_act_posted_on') }}
    </div>
  </div>

  <div class="post-meta__tagged">
    <div class="tagged">
      {{ fn('_act_entry_footer') }}
    </div>
  </div>

  {#<span class="post-meta__date">{{ post.date }}</span>#}
</div>