{% extends "base.twig" %}
{% set templateClass =  template ? '--'~template  : '' %}
{% set templateSlug = template ?  '-'~template  : '' %}
{% set mainMod = "--single" %}


{% block before_head %}
  <!-- single.twig -->
  <!-- postFormat {{postFormat}} -->
{% endblock %}

  {% block hero %}
  {% endblock %}

{% block feature %}
{% endblock %}


{% block content %}
  {{  fn('is_paged')? fn('the_posts_navigation') : '' }}
  {% for post in posts %}
    {% include  ['content/content-single-'~postFormat~'.twig', 'content/content-single.twig'] %}
  {% endfor %}
  {{  fn('is_paged')? fn('the_posts_navigation') : '' }}
{% endblock %}


{% block belowContent %}
    {{ parent() }}
{% endblock %}

{% set hasSideBar = false %}

{% block sidebar %}
{#  <div class="l-main__sidebar {{ not sidebar_widgets ? 'is-empty' : ''}}">#}
{#    {% if sidebar_widgets == '' %}#}
{#      <!-- Add some widgets to the footer -->#}
{#    {% else %}#}
{#      <div class="l-sidebar__widget-area--sidebar-widgets">#}
{#        <div class="l-widget-area--sidebar-widgets">#}
{#          {{sidebar_widgets}}#}
{#        </div>#}
{#      </div>#}
{#    {% endif %}#}
{#  </div>#}
{% endblock %}



