{% extends "base.twig" %}
{% set modContentClass = '' %}
{% set modBaseClass = '--'~template  %}
{% set templateSlug = template ?  '-'~template  : '' %}


  {% block prependHead %}
    <!-- single-service.twig -->
    <!-- postFormat {{postFormat}} -->

  {% endblock %}

 {% block hero %}
 {% endblock %}

  {% block feature %}
  {% endblock %}


  {% block content %}
    {{  fn('is_paged')? fn('the_posts_navigation') : '' }}
    {% for post in posts %}
    {% include  ['content/content-single'~templateSlug~'.twig', 'content/content-single.twig'] %}
  {% endfor %}
  {{  fn('is_paged')? fn('the_posts_navigation') : '' }}

{% endblock %}

{% block afterContent %}
  <div class="c-single-brand__after-content">
    {%  set brandGallery = post.get_field('brand_gallery')%}
    {% set size = 'full' %}
    {% if brandGallery %}
      <div class="c-after-content">
        <div class="c-after-content__image-galley">
          <div class="c-image-gallery">

      <ul class="c-image-gallery__list">
        <?php foreach( $images as $image ): ?>
        {% for image in brandGallery %}
        <li class="c-image-gallery__item" >
          <div class="c-image-gallery__thumb">
          <img class="c-image-gallery__img" src="{{ image.sizes.large }}" alt="{{ image.alt }}" />
          </div>
        </li>
        {% endfor %}
      </ul>
          </div>
        </div>
      </div>
      {% else %}
      No Gallery
    {% endif %}
  </div>
  {%  endblock %}





{% block  subsidiary %}
  <!-- subsidiary removed -->
{% endblock %}