{% extends "base.twig" %}

{% block hero %}
{% endblock %}

{% block feature %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block before_content %}
  <h1 class="main__title"><span>Tile gallery</span></h1>
  <div class="drawer">
    <div class="drawer__title" data-state="off">FILTERS</div>
    <div class="drawer__content" data-state="off" class="filter-controls">

      <div class="filter-controls__cats">
        <h5 class="filter-controls__title">Tile Type</h5>
        <div class="filter-controls__tags" data-tax="Tile_type">
          <button class="filter-controls__tag" data-state="off" data-filter="tile_type-wall-tile" >Wall Tiles</button>
          <button class="filter-controls__tag" data-state="off" data-filter="tile_type-wall-tile  ">Floor Tiles</button>
        </div>
      </div>

      <div class="filter-controls__tags">

        {#{{ dump(tile_filters) }}#}
        {% for key,filter in tile_filters %}
        <h5 class="filter-controls__title">{{ filter.name }}</h5>
        <div class="filter-controls__tags" data-tax="{{  key }}">
          {% for tag in filter.tags %}
          <button class="filter-controls__tag" data-state="off" data-filter="{{  key }}-{{ tag.slug }}">{{tag.name}}</button>
          {% endfor %}
        </div>
        {% endfor %}



      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include 'content-tile.twig' %}
  {% endfor %}

{% endblock %}
