<section id="primary" class="site__main">
  <div class="c-main{{ main_mod }}">
    <main class="main__content{{ main_mod }}">

      {#BLOCK BEFORECONTENT#}
      {% if beforeContent is empty %}
        <!-- BLOCK contentBefore EMPTY -->
      {% else %}
        {{ beforeContent }}
      {% endif %}

      <div class="content{{ content_mod }}">

        {#BLOCK CONTENTHEAD#}
        {% if contentHeader is empty %}
          <!-- BLOCK contentHeader EMPTY -->
        {% else %}
        {{ contentHeader }}
        {% endif %}

        {#BLOCK CONTENT#}
        {% if content is empty %}
          This is templates/inc/base-primary.twig add a block content to your template
        {% else %}
          {{ content }}
        {% endif %}

        {#BLOCK CONTENTFOOTER#}
        {% if contentFooter is empty %}
          <!-- BLOCK contentFooter EMPTY -->
        {% else %}
          {{ contentFooter }}
        {% endif %}

      </div>


      {#BLOCK AFTERCONTENT#}
      {% if afterContent is empty %}
        <!-- BLOCK afterContent DEFAULT -->
        {% if (fn('comments_open')) %}
          {% include 'inc/comments.twig' %}
        {% endif %}
      {% else %}
        {{ afterContent }}
      {% endif %}

    </main>

    {% if sidebar is empty %}
      <!-- BLOCK sidebar EMPTY -->
    {% else %}
      {{ sidebar }}
    {% endif %}

  </div>

</section>