
    <main role="main">

      {#BLOCK BEFORECONTENT#}
      {% if beforeContent is empty %}
      {% else %}
        {{ beforeContent }}
      {% endif %}

      <article  id="webslides" class="vertical" >

        {#BLOCK CONTENTHEAD#}
        {% if contentHeader is empty %}
        {% else %}
          {{ contentHeader }}
        {% endif %}

        {#BLOCK CONTENT#}
        {% if content is empty %}
          This is templates/inc/base-primary.twig add a block content to your template
        {% else %}
          {{ content }}
        {% endif %}

        {#BLOCK CONTENTFOOTER#}
        {% if contentFooter is empty %}
          CONTENT FOOTER EMPTY
        {% else %}
          {{ contentFooter }}
        {% endif %}

      </article>


      {#BLOCK AFTERCONTENT#}
      {% if afterContent is empty %}
        {% if (fn('comments_open')) %}
          {% include 'inc/comments.twig' %}
        {% endif %}
      {% else %}
        {{ afterContent }}
      {% endif %}

    </main>