

    <form class="c-contact-form__form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
      <div class="c-contact-form__content--comment-form" >
        {% if  user %}
            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}

            <label class="c-contact-form__label">
              <span class="c-contact-form__label-text" >Name</span>
              <span class="c-contact-form__input-wrapper" >
                <input class="c-contact-form__input" placeholder="Name"  required name="author" type="text">
              </span>
            </label>

          <label class="c-contact-form__label">
            <span class="c-contact-form__label-text" >Email</span>
            <span class="c-contact-form__input-wrapper" >
                <input class="c-contact-form__input" placeholder="Email" required name="email" type="email" id="email">
              </span>
          </label>

        {% endif %}
        <label class="c-contact-form__label--textarea">
          <span class="c-contact-form__label-text" >Review</span>
            <textarea class="c-contact-form__input--textarea" placeholder="Leave a review..." name="comment" cols="60" rows="3"></textarea>
        </label>
        <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
        <input name="comment_parent"  value="{{ comment.ID|default('0') }}" type="hidden">
        <div class="c-contact-form__input-wrapper--submit" >
        <input class="c-contact-form__input--submit c-btn--secondary" type="submit" name="Post comment" class="btn">
        </div>

{#        <p>Your comment will be revised by the site if needed.</p>#}
      </div>
    </form>

