{#
Include this with optional params
% include "inc/feature-image.twig"
      with {
      headerTitle : null,
      headingLevel : '1' ,
      headerModClass : templateClass
    }%}
#}
{% set imgModClass = (templateModClass) ?  templateModClass : templateClass %}
{% set imageSize =  (templateImageSize) ?  templateImageSize : 'original' %}

<div class="c-feature-image{{ imgModClass }}">
  <img srcset="{{ post.thumbnail.src(imageSize)|resize(480)}} 480w, {{ post.thumbnail.src(imageSize)|resize(1200)}} 1200w, {{ post.thumbnail.src(imageSize)|resize(1920)}} 1920w, " class="c-feature-image__img{{ imgModClass }}" alt="{{ post.title }}"/>
</div>
