<div class="gallery">
  <div class="gallery__slides">
    {% for item in post.get_field('images') %}
      <figure class="gallery__slide" data-type="{{ item.type }}">
        <div class="gallery__content">
          <div class="gallery__wrapper">
            <img class="gallery__img" src="{{ item.image.sizes.large }}" alt="{{ item.image_title }}">
           {% if item.image_title or item.image_description %}
            <div class="gallery__info">
              <h3 class="gallery__title">{{ item.image_title }}</h3>
              <p class="gallery__text">{{ item.image_description }}</p>
            </div>
            {% endif %}
          </div>
        </div>

      </figure>
    {% endfor %}
  </div>
  <div class="gallery__controller">
    {% for item in post.get_field('images') %}
      <div class="gallery__thumb" data-type="{{ item.type }}">
        <div class="gallery__thumb-image">
          <img class="gallery__thumb-img" src="{{ item.image.sizes.thumbnail }}" alt="{{ item.image_title }}">
        </div>
      </div>
    {% endfor %}
  </div>
  {% if gFilters %}
  <div class="gallery__filter-controls">
    <div class="filter-controls">
      <h5 class="filter-controls__title">Filter</h5>
      <div class="filter-controls__tags">
        <button class="filter-controls__tag" data-state="on" data-type="contemporary">Contemporary</button>
        <button class="filter-controls__tag" data-state="on" data-type="traditional">Traditional</button>
      </div>
    </div>
  </div>
  {% endif   %}
</div>
<hr>