{#
Include this with optional params
% include "inc/header.twig"
      with {
      headerTitle : null,
      headingLevel : '1' ,
      headerModClass : templateClass
    }%}
#}
{% set headingLevel = (headingLevel) ? headingLevel : '2' %}
{% set postTypeModClass = (postType) ? '--'~postType : null %}
{% set headerModClass = (headerModClass) ? headerModClass : postTypeModClass %}

{% set postAltTitle = (post.meta('post_alt_title')) ? post.meta('post_alt_title') : null %}
{% set postTitle = (postAltTitle) ? postAltTitle  : post.title %}
{% set headerTitle = (headerTitle) ? headerTitle : postTitle %}

{% set postSubtitleAfter =  (post.meta('post_heading_subtitle')) ? post.meta('post_heading_subtitle') : null %}
{% set templateSubtitleAfter = (templateSubtitleAfter) ? templateSubtitleAfter : null %}
{% set headerSubtitleAfter = (templateSubtitleAfter)? templateSubtitleAfter :  postSubtitleAfter %}

{% set postIcon =  (post.meta('custom_post_icon')) ? post.meta('custom_post_icon') : null %}
{% set headerIcon = (headerIcon) ? headerIcon : postIcon %}


<div class="c-header{{ headerModClass }}">
<header class="c-header__header{{ headerModClass }}">
  {% if headerIcon and headerIcon != 'hide' %}
    <div class="c-header__post-icon{{ headerModClass }}">
      <img class="c-header__post-icon-img{{ headerModClass }} is-svg-replace" src="{{ post.meta('custom_post_icon').url }}" />
    </div>
  {% endif %}

  {% if preSubHeading %}
  <h6  class="c-header__sub-heading--pre c-header__sub-heading{{ headerModClass }}" >
    <span class="c-header__sub-title" >{{ preSubHeading }}</span>
  </h6>
  {% endif %}
  <h{{ headingLevel }} class="c-header__heading{{ headerModClass }}">
            <span class="c-header__title{{ headerModClass }}">
               {{ headerTitle }}
            </span>
  </h{{ headingLevel }}>
  {% if headerSubtitleAfter and headerSubtitleAfter != 'hide' %}
  <h6  class="c-header__sub-heading--after c-header__sub-heading{{ headerModClass }}" >
    <span class="c-header__sub-title{{ headerModClass }}" >
      {{ headerSubtitleAfter }}
    </span>
  </h6>
  {% endif %}
</header>
</div>
