{#
Include this with optional params
% include "inc/header.twig"
      with {
      headerTitle : null,
      headingLevel : '1' ,
      headerModClass : templateClass
    }%}
#}
{% set headingLevel = (headingLevel) ? headingLevel : '2' %}
{% set postTypeModClass = (postType) ? '--'~postType : null %}
{% set headerModClass = (headerModClass) ? headerModClass : postTypeModClass %}

{% set postAltTitle = (post.meta('post_alt_title')) ? post.meta('post_alt_title') : null %}
{% set postTitle = (postAltTitle) ? postAltTitle  : post.title %}
{% set headerTitle = (headerTitle) ? headerTitle : postTitle %}

{% set postSubtitleAfter =  (post.meta('post_subtitle')) ? post.meta('post_subtitle') : null %}
{% set headerSubtitleAfter = (headerSubtitleAfter) ? headerSubtitleAfter : postSubtitleAfter %}
{% set headerSubtitleAfter = post.meta('post_heading_subtitle') %}


<div class="c-header{{ headerModClass }}">
<header class="c-header__header{{ headerModClass }}">
  {% if preSubHeading %}
  <h6  class="c-header__sub-heading--pre" >
    <span class="c-header__sub-title" >{{ preSubHeading }}</span>
  </h6>
  {% endif %}
  <h{{ headingLevel }} class="c-header__heading{{ headerModClass }}">
            <span class="c-header__title{{ headerModClass }}">
               {{ headerTitle }}
            </span>
  </h{{ headingLevel }}>
  {% if headerSubtitleAfter  %}
  <h6  class="c-header__sub-heading--after" >
    <span class="c-header__sub-title{{ headerModClass }}" >
      {{ headerSubtitleAfter }}
    </span>
  </h6>
  {% endif %}
</header>
</div>
