{% if (not fn('is_front_page')) and pageSettingsShowSiteHero != true %}
  {%   set bannerImg = pageBannerImg %}
  {%   set bannerLogo = pageBannerLogo %}
  {%   set bannerContent = pageBannerContent %}
  {%   set menuName = pageBannerMenuName %}
  {% else %}
    {% set menuName = "hero" %}
{% endif %}

<div class="hero" >
  <div class="hero__container">

    <div class="hero__background">
      {% if bannerImg.url != '' %}
      <img src="{{  bannerImg.url }}" alt="{{  bannerImg.alt }}" class="hero__background-img">
      {% endif %}
    </div>


    <div class="hero__body{{ templateClass }}">

      {% if bannerLogo.url != '' %}
      <div class="hero__logo">
          <img class="hero__logo-img" src=" {{  bannerLogo.url  }}" alt="{{ bannerLogo.alt }}">
      </div>
      {% endif %}

      {% if  bannerContent != '' %}
      <div class="hero__content">
        {{  bannerContent  }}
      </div>
      {% endif %}

      {% if not hideBannerMenu and menuName != '' %}
      <div class="hero__call-to-action">
        {% include 'inc/navigation.twig' %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
