{% set bannerImg = fn('get_field','banner_image','options') %}
{% set bannerContent = fn('get_field','banner_content','options') %}
{% set bannerLogo = fn('get_field','banner_logo','options') %}
<div class="hero" style="background-image: url('{{ bannerImg.url }}');">
  <div class="hero__container">
    <div class="hero__body">

      {% if bannerLogo.url != '' %}
        <div class="hero__logo">
          <img class="hero__logo-img" src=" {{ bannerLogo.url }}" alt="{{ bannerLogo.alt }}">
        </div>
      {% endif %}

      {% if  bannerContent != '' %}
        <div class="hero__content">
          {{ bannerContent }}
        </div>
      {% endif %}

      {% if not hideBannerMenu %}
        <div class="hero__call-to-action-menu">
          <div class="call-to-action-menu">

            <ul class="call-to-action-menu__list">
              {% for item in menuHero.get_items %}
                <li class="call-to-action-menu__item {{ item.classes | join(' ') }}">
                  <a class="call-to-action-menu__link " href="{{ item.get_link }}">
                    <span class="call-to-action-menu__text">{{ item.title }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>