  <div class="masthead">
    <div class="masthead__branding">
      <div class="masthead__site-title">

        {%  if acSettings.svgLogo  %}
          {%  include 'inc/site-title-svg.twig' %}
        {% else %}
          {% include 'inc/site-title-text.twig' %}
        {% endif %}

      </div>
    </div>
<script>
  var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
  //alert(width);
</script>
    <nav class="masthead__navigation" role="navigation">
      <div class="navigation--primary">
        <ul class="navigation--primary__list">
          {% for item in menuPrimary.get_items %}
            <li class="navigation--primary__item {{item.classes | join(' ')}}"><a class="navigation--primary__link" href="{{item.get_link}}">{{item.title}}</a>
              {% if item.get_children %}
                <ul class="navigation--primary__sub-list">
                  {% for child in item.get_children %}
                    <li class="navigation--primary__sub--item"><a href="{{child.get_link}}">{{child.title}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
