
{% set menuName = (menuName) ? menuName : 'primary' %}
{% set menu = _context['menu' ~ menuName | capitalize ] %}
<div class="c-nav-menu--{{ menuName }}">
  <ul class="c-nav-menu__list--{{ menuName }}">
    {% for item in  menu.get_items %}
      <li id="itemId{{item.id}}-{{  menuName }}" class="c-nav-menu__item--{{ menuName }} {{item.classes | join(' ')}}" data-itemid="{{item.id}}-{{  menuName }}" data-state="off" >
        <a id="linkId{{item.id}}-{{  menuName }}"  class="c-nav-menu__link--{{ menuName }}" href="{{item.get_link}}" {{ item.get_children ? 'data-state="off"':'' }}>
          <span class="c-nav-menu__link-label--{{ menuName }}">{{item.title}}</span>
        </a>
        {% if item.get_children %}
          <div class="c-nav-menu__sub-menu--{{ menuName }}">
            <ul id="listId{{item.id}}-{{  menuName }}" class="c-nav-menu__sub-menu-list--{{ menuName }}"  data-state="off" >
              {% for child in item.get_children %}
                <li d="itemId{{child.id}}-{{  menuName }}" class="c-nav-menu__sub-menu-item--{{ menuName }}">
                  <a id="linkId{{child.id}}-{{  menuName }}" class="c-nav-menu__sub-menu-link--{{ menuName }}" href="{{child.get_link}}">{{child.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
