<div class="c-post-meta">

  {#<div class="c-post-meta__section--post-type">#}
    {#<div class="post-type">#}
      {#<svg class="icon post-type__icon" role="img" aria-label="Post type {{ postFormat }}" preserveAspectRatio="none">#}
        {#<title>{{ postFormat }}</title>#}
        {#<desc>Post type {{ postFormat }}</desc>#}
        {#<use xlink:href="#post-{{ postFormat }}"/>#}
      {#</svg>#}
    {#</div>#}
  {#</div>#}


  <div class="c-post-meta__section--post-date">
    <div class="c-post-meta__post-date">
      <span class="c-post-meta__label--post-date" >Posted on</span> <span class="c-post-meta__date-published">{{ post.date | date("M j, Y") }}</span>
    </div>
  </div>

  {% if  post.edit_link != '' %}
    <div class="c-post-meta__section--post-admin">
      <div class="c-post-meta__post-admin">
          <span class="c-post-meta__post-links"><a  class="c-post-meta__post-edit-link" href="{{  post.edit_link }}" title="Edit {{ post.title }}">Edit</a></span>
      </div>
     </div>
  {% endif %}

</div>
