{% set modClass = (postType) ? '--'~postType : '' %}

{% set templateHeaderTitle = (templateHeaderTitle) ? templateHeaderTitle : post.title %}
{% set postLink = post.link %}
{% set altLink = (altLink) ? altLink : post.meta('post_thumb_link') %}
{% set disableLink = post.meta('hide_service_content_link') %}

{% if disableLink != true %}
  {% set thumbLink = (altLink) ? altLink : postLink  %}
  {% set thumbLinkLabel = (post.meta('post_thumb_link_label')) ? post.meta('post_thumb_link_label') : 'Read More' %}
{% endif %}

{% set imgObj = (post.meta('service_image')) ? Image(post.meta('service_image'))  : null %}

<article {{ fn('post_class', ['c-post-thumb'~modClass] ) }}>

  {% if thumbLink %}
  <a href="{{thumbLink}}" class="c-post-thumb__image-link{{ modClass }}" >
    {%  endif %}
  {% if post.meta('custom_post_icon') %}
    <div class="c-post-thumb__post-icon">
      <img class="c-post-thumb__post-icon-img{{ modClass }} is-svg-replace" src="{{ post.meta('custom_post_icon').url }}" />
    </div>
  {% endif %}
    {% if imgObj != "hide" %}
      <div class="c-post-thumb__feature-image{{ modClass }}">
        {% include "inc/feature-image.twig" with {
          "imgObj" : imgObj
        }%}
      </div>
    {%  endif %}
    {% if thumbLink %}
  </a>
  {%  endif %}
  <div class="c-post-thumb__post-type">
    <div class="c-btn__post-type">
      <div class="c-btn">
        <a href="/blog-articles/" class="c-btn__link--secondary">Article</a>
      </div>
    </div>
  </div>
<div class="c-post-thumb__content{{ modClass }}">
      {% if templateHeaderTitle != false %}

        <div class="c-post-thumb__header{{ modClass }}">
          {% if thumbLink %}
          <a href="{{thumbLink}}" class="c-post-thumb__header-link{{ modClass }}">
            {%  endif %}
          {% include "inc/header.twig" with {"templateHeaderTitle" : templateHeaderTitle }%}
            {% if thumbLink %}
          </a>
          {%  endif %}
        </div>
      {% endif %}


{#  <div class="entry-content c-post-thumb__body{{ modClass }}">#}
{#    <div class="c-post-thumb__excerpt{{ modClass }}">#}
{#      {{ post.preview.length(35).read_more(false) }}#}
{#    </div>#}
{#  </div>#}

  {% if thumbLink %}
    <div class="c-post-thumb__footer{{ modClass }}">

      <div class="c-btn--read-more c-btn--icon">
        <a href="{{ thumbLink }}" class="c-btn__link--read-more">
          <span class="c-btn__icon"> {% include "inc/svg-icon.twig" with {'icon' : 'icon-arrow-right'} %}</span>
          <span class="c-btn__label">{{ thumbLinkLabel  }}</span>
        </a>
      </div>

    </div>
  {% endif %}
</div>

</article>
