{% set modClass = (postType) ? '--'~postType : '' %}

{% set templateHeaderTitle = (templateHeaderTitle) ? templateHeaderTitle : post.title %}
{% set postLink = post.link %}
{% set altLink = (altLink) ? altLink : post.meta('post_thumb_link') %}
{% set disableLink = post.meta('hide_service_content_link') %}

{% if disableLink != true %}
  {% set thumbLink = (altLink) ? altLink : postLink  %}
  {% set thumbLinkLabel = (post.meta('post_thumb_link_label')) ? post.meta('post_thumb_link_label') : 'Read More' %}
{% endif %}

{% set imgObj = (post.meta('service_image')) ? Image(post.meta('service_image'))  : null %}



<article {{ fn('post_class', ['c-post-thumb'~modClass] ) }}>
  {% if thumbLink %}
  <a href="{{thumbLink}}" class="c-post-thumb__link" >
    {%  endif %}
  {% if post.meta('custom_post_icon') %}
    <div class="c-post-thumb__post-icon">
      <img class="c-post-thumb__post-icon-img{{ modClass }} is-svg-replace" src="{{ post.meta('custom_post_icon').url }}" />
    </div>
  {% endif %}
    {% if imgObj != "hide" %}
      <div class="c-post-thumb__feature-image{{ modClass }}">
        {% include "inc/feature-image.twig" with {
          "imgObj" : imgObj
        }%}
      </div>
    {%  endif %}
    {% if thumbLink %}
  </a>
  {%  endif %}
<div class="c-post-thumb__content">
      {% if templateHeaderTitle != false %}

        <div class="c-post-thumb__header{{ modClass }}">
          {% if thumbLink %}
          <a href="{{thumbLink}}" class="c-post-thumb__link">
            {%  endif %}
          {% include "inc/header.twig" with {"templateHeaderTitle" : templateHeaderTitle }%}
            {% if thumbLink %}
          </a>
          {%  endif %}
        </div>
      {% endif %}

  {% if  post.meta('service_intro_content') %}
  <div class="entry-content c-post-thumb__body{{ modClass }}">
    <div class="c-post-thumb__excerpt">
      {{ post.meta('service_intro_content') }}
    </div>
  </div>
  {% endif %}

  {% if thumbLink %}
    <div class="c-post-thumb__footer">

      <div class="c-btn--read-more">
        <a href="{{ thumbLink }}" class="c-btn__link--read-more">{{ thumbLinkLabel  }}</a>
      </div>

    </div>
  {% endif %}
</div>

</article>
