{% set modClass = (postType) ? '--'~postType : '' %}
{% set headerTitle = (headerTitle) ? headerTitle : post.title %}
{% set headerIcon = post.meta('product_icon') %}
{% set productStrap = post.meta('product_strapline') %}
{% set listTitle = post.meta('product_features_title') %}


<article {{ fn('post_class', ['c-post-thumb'~modClass] ) }}>

      {% if headerTitle != false %}
        <div class="c-post-thumb__header{{ modClass }}">
          {% include "inc/header.twig" with {
            headingLevel : '4',
            headerModClass : modClass,
            templateTitle : headerTitle,
            templateIcon : headerIcon,
            templateSubtitleAfter : productStrap
          }%}

          <div class="c-post-thumb__price-box">
            <span class="c-post-thumb__price-box-currency">£</span>
            <span class="c-post-thumb__price-box-price">{{ post.meta('product_price') }}</span>
            <span class="c-post-thumb__price-box-frequency">{{ post.meta('price_frequency') }}</span>
          </div>

        </div>
      {% endif %}

  <div class="c-post-thumb__body{{ modClass }} {{ post.meta('product_contact_form') ? 'has-cta' : 'has-no-cta' }}">
    <div class="c-post-thumb__info">
      {{ post.meta('product_intro') }}
    </div>

    {% if post.meta('product_feature_list') %}
    <div class="c-post-thumb__feature-list{{ modClass }}">
      <div class="c-feature-list{{ modClass }}">
        <div class="c-feature-list__header">
        {% include "inc/header.twig" with {
          headingLevel : '6',
          headerModClass : '--product-box-feature-list',
          templateTitle : listTitle,
          templateIcon : 'hide'
        }%}
        </div>

        <ul class="c-feature-list__list">
          {% for item in post.meta('product_feature_list') %}
          <li class="c-feature-list__item">
            <span class="c-feature-list__item-icon">
              <span class="c-svg-icon">
                {% include "inc/svg-icon.twig" with {'icon' : 'icon-check'} %}
              </span>
            </span>
            <span class="c-feature-list__item-text">
              {{ item.feature_list_text }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if post.meta('product_footer') %}
      <footer class="c-post-thumb__footer{{ modClass }}">
        {{ post.meta('product_footer') |wpautop }}
      </footer>
    {% endif %}

    {% if post.meta('product_contact_form') %}
      <div class="c-post-thumb__cta-product-box">
        <a class="c-btn--cta-product-box" data-modal-trigger="{{ post.id }}" >Find out more</a>
      </div>
    <div class="c-modal" data-modal="{{ post.id }}" style="display: none" >
      <div class="c-modal__contact-form--modal">
        <div class="c-contact-form--modal">{{ post.meta('product_contact_form') | shortcodes }}</div>
      </div>
    </div>
    {% endif %}

  </div>


</article>
