{% if fn('is_front_page') %}
  {% if (company_logo_alt != '') %}
    {% set company_logo = company_logo_alt %}
    {% set altClass = 'is-alt-logo' %}
  {% endif %}
  <h1 class="c-site-title--upload c-site-title--front-page is-alt-logo" >
    <a class="l-site-title__link" href="{{ site.url }} " rel="home">
      <img class="c-site-title__img" src=" {{  company_logo.url  }}" alt="{{ site.title }} - {{ site.description }}">
    </a>
  </h1>
{% else %}
  <span class="c-site-title--upload c-site-title--page">
    <a class="sc-ite-title__link" href="{{ site.url }} " rel="home">
       <img class="c-site-title__img" src=" {{  company_logo.url  }}" alt="{{ site.title }} - {{ site.description }}">
    </a>
  </span>
{% endif %}
