{% set widgetContainer =  widgetContainer ?? 'default' %}
{% set widgetArea = widgetArea ?? widgetContainer|replace({'-':''}) %}
{% set widgets = _context[widgetArea ~ '_widgets']|default %}
<div class="l-{{ widgetContainer }}{{ not widgets ? '--empty' : ''}}">
  {% if widgets  == '' %}
    <!-- Add some widgets to the footer -->
  {% else %}
    <div class="l-{{ widgetContainer }}__widget-area--{{ widgetContainer }}">
      <div class="l-widget-area--{{ widgetContainer }}">
        {{  widgets }}
      </div>
    </div>
  {% endif %}
</div>
